.todo {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #9b4e4e;
}

.checkbox {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
}

.title {
	width: 100%;
	margin-right: 10px;
	border: 1px solid rgb(86, 156, 86);
}
