.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid rgb(161, 85, 223);
	border-radius: 50%;
	border-left-color: rgb(30, 124, 30);
	border-top-color: rgb(170, 72, 72);
	border-right-color: rgb(80, 80, 241);
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
