.controlPanel {
	display: flex;
	height: 25px;
	border-bottom: 2px solid #888;
	padding: 10px;
}

.sortingButton {
	width: 25px;
	height: 25px;
	display: block;
	margin: 0 10px;
}

.search {
	width: 100%;
}
